@using Blazored.SessionStorage
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager;
@inject ISessionStorageService _sessionStorage;
<CascadingValue Value="this">
<div >  
  
       

       
            @Body
        
    
</div>
</CascadingValue >

@code{
    public bool isLoggedIn { get; set; } = false;



    protected async override Task OnInitializedAsync()
    {
        var authToken = await _sessionStorage.GetItemAsync<string>("AuTon");
        if (!string.IsNullOrEmpty(authToken))
        {
            isLoggedIn = true;
        }
        if (!isLoggedIn)
        {
            _navigationManager.NavigateTo("login");
        }
    }
}
